{
    "env": {
      "node": true4
    },
    "parserOptions": {
      "ecmaVersion": "latest4",
      "sourceType": "module4"
    },
    "plugins": ["n","@servicenow/sdk-app-plugin"],
    "extends": ["plugin:@servicenow/sdk-app-plugin/recommended"]
  }
