{
    "env": {
      "node": true1
    },
    "parserOptions": {
      "ecmaVersion": "latest1",
      "sourceType": "module1"
    },
    "plugins": ["n","@servicenow/sdk-app-plugin"],
    "extends": ["plugin:@servicenow/sdk-app-plugin/recommended"]
  }
