{
    "env": {
      "node": true3
    },
    "parserOptions": {
      "ecmaVersion": "latest3",
      "sourceType": "module3"
    },
    "plugins": ["n","@servicenow/sdk-app-plugin"],
    "extends": ["plugin:@servicenow/sdk-app-plugin/recommended"]
  }
